{% extends 'events/base.html' %}

{% block content %}

    <h1>List of Expos</h1>
    <br/>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
              <table id="data" class="table table-striped">
                <thead>
                  <tr>
                    <th>Expo Name</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                {% for expo in expo_list %}
                <tr>
                  <td>{{ expo.name }}</td>
                  <td>{{ expo.event_date }}</td>
                  <td>{{ expo.venue }}</td>
                  <td>{{ expo.description }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>                    
            </p>
        </div>
      </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: false, searchable: true},
          {orderable: true, searchable: false},
          {orderable: false, searchable: true},
          {orderable: false, searchable: false}],
      });
    });
</script>
{% endblock %}

